* {
    /* border: 1px solid; */
    box-sizing: border-box;
}

pre {
    white-space: pre-wrap;
    margin: 0;
}

.code-il {
    display: inline;
}

#file,
#html {
  margin-top: 1rem;
}

#html {
    margin-bottom: 1rem;
}

#head, #title, #body, #h1 {
  margin-left: 2rem;
}


#copyrights {
    font-family: sans-serif;
    font-size: smaller;
    text-align: center;
    margin-bottom: 1rem;
  }