* {
  /* border: 1px solid black; */
  margin: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, white, skyblue);
}

#title {
  margin-top: 3rem;
  padding: 0.5rem;
  font-family: sans-serif;
  text-align: center;
}

#page-description {
  padding: 0.5rem;
  font-family: sans-serif;
  text-align: center;
  font-style: italic;
}

#main {
  width: 80vw;
  margin: 0 auto;
}

#img-div {
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 1080px;
}

#image {
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

#img-caption {
  font-family: sans-serif;
  font-style: italic;
}

#tribute-info-title {
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  margin-bottom: 1rem;
}

#tribute-info {
  font-family: sans-serif;
  margin-bottom: 1rem;
  max-width: 50vw;
  margin: 0 auto;
  line-height: 1.5rem;
}

.timeline-item {
  margin-bottom: 0.5rem;
}

.timeline-year {
  font-weight: bold;
}

#conclusion {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 50vw;
  font-family: sans-serif;
  text-align: center;
  line-height: 1.5rem;
}

#read-more {
  margin-bottom: 2rem;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

#tribute-link:hover {
  color: red;
}

#copyrights {
  font-family: sans-serif;
  font-size: smaller;
  text-align: center;
  margin-bottom: 1rem;
}
